<h3>
	Héroe <small>{{ heroe.nombre }}</small>
</h3>
<hr>

<div class="row animated fadeIn fast">
	<div class="col-md-12">
		<form (ngSubmit)="guardar()" #form="ngForm">
			<div class="form-group">
				<label>
					Nombre
				</label>
				<input [(ngModel)]="heroe.nombre"
					   type="text" 
					   name="nombre" 
					   class="form-control" 
					   placeholder="Nombre del héroe..." 
					   required>
			</div>
			<div class="form-group">
				<label>
					Casa
				</label>
				<select  [(ngModel)]="heroe.casa" class="form-control" name="casa">
					<option value="">
						Seleccione uno...
					</option>
					<option value="Marvel">
						Marvel
					</option>
					<option value="DC">
						DC
					</option>
				</select>
			</div>
			<div class="form-group">
				<label>
					Bio
				</label>
				<textarea [(ngModel)]="heroe.bio"
						  name="bio" 
					      class="form-control">
				</textarea> 
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid">
					Guardar cambios
				</button>
				<button (click)="resetear(form)" type="button" class="btn btn-outline-danger">
					Resetear
				</button>
				<button [routerLink]="['/heroes']" type="button" class="btn btn-outline-dark">
					Atrás
				</button>
			</div>
		</form>
	</div>
</div>
